.ent-care-hub-text {
    font-family: 'Poppins';
    font-size: 35px;
    font-weight: 600;
    color: #46A9F0;
    vertical-align: middle;
  }
.row.one {
    padding-bottom: 40px;
}
.col-sm-12.col-md-6.about-us {
    padding-top: 100px;
}
a:link {
    text-decoration: none;
  }


.btn.btn-primary.ms-auto:hover {
    -webkit-transform: scale(1.1);
    background: #34EBD1;
}

.box.about-us {
    background-color: #F4F4F6;
    border-radius: 20px;
    border: 3px solid #000000;
}

.box-title {
    font-family: 'Poppins';
    font-size: 40px;
    padding-left: 10px;
}

.box-description {
    font-family: 'Poppins';
    font-size: 20px;
    padding-top: 10px;
    padding: 10px;
}

.img-fluid.doctor {
    padding-top: 55px;
}


.row.two{
    padding-top: 40px;
    background-color: #AEC1F5;
    border-radius: 20px;
    
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    }

.col-sm-12 col-md-6 how-to {
    padding-bottom: 100px;
}
.box.how-to{
    background-color: #F4F4F6;
    border-radius: 20px;
    padding-bottom: 10px;
    border: 3px solid #5DC4EA;
}

#search-2 {
    font-size: 30px;
    border: none;
    border-radius: 5px;
    
  }

.row.three {
    padding-top: 20px;
}

.box.may {
    padding-top: 40px;
}